{% raw %}{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block inner %}


{% if user.emailaddress_set.all %}
<div class="card-header pb-0 text-left bg-transparent">
  <h3 class="font-weight-bolder text-info text-gradient">Account E-mail</h3>
  <p class="mb-0">The following e-mail addresses are associated with your account:</p>
</div>

<div class="card-body">

  <form role="form text-left"  action="{% url 'account_email' %}"  method="post">
  {% csrf_token %}
  {% for emailaddress in user.emailaddress_set.all %}
    <div class="radio">
      <label for="email_radio_{{forloop.counter}}" >
        <input id="email_radio_{{forloop.counter}}" type="radio" name="email" 
          {% if emailaddress.primary or user.emailaddress_set.count == 1 %}
            checked="checked"
          {%endif %} 
        value="{{emailaddress.email}}"/>
        {{ emailaddress.email }}
        {% if emailaddress.verified %}
          <span>Verified</span>
        {% else %}
          <span>Unverified</span>
        {% endif %}
        {% if emailaddress.primary %}
          <span>Primary</span>
        {% endif %}
      </label>
    </div>
  {% endfor %}

  <div class="text-center">
    <button type="submit" class="btn bg-gradient-info w-100 mt-4 mb-0" name="action_primary">Make Primary</button>
  </div>
  <div class="text-center">
    <button type="submit" class="btn bg-gradient-info w-100 mt-4 mb-0" name="action_send">Re-send Verification</button>
  </div>
  <div class="text-center">
    <button type="submit" class="btn bg-gradient-info w-100 mt-4 mb-0" name="action_remove">Remove</button>
  </div>

  </form>
</div>

{% else %}
<div class="card-header pb-0 text-left bg-transparent">
  <h3 class="font-weight-bolder text-info text-gradient">Account E-mail</h3>

  <p class="mb-0">You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc.</p>
</div>
{% endif %}

<div class="card-header pb-0 text-left bg-transparent">
  <h3 class="font-weight-bolder text-info text-gradient">Add an e-mail address</h3>
</div>
<div class="card-body">
  <form role="form text-left"  method="post" action="{% url 'account_email' %}">
    {% csrf_token %}
    {{ form|crispy }}
    
    <div class="text-center">
      <button type="submit" class="btn bg-gradient-info w-100 mt-4 mb-0" name="action_add">Add E-mail</button>
    </div>
  </form>
</div>


{% endblock %}


{% endraw %}