{% raw %}{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block inner %}
<div class="card-header pb-0 text-left bg-transparent">
    <h3 class="font-weight-bolder text-info text-gradient">Set Password</h3>
    <p class="mb-0">Don't have an account? Please <a href="{{ signup_url }}" class="text-info text-gradient font-weight-bold">sign up</a>.</p>
</div>

  <div class="card-body">
    <form role="form text-left" method="POST" action="{% url 'account_set_password' %}" >
      {% csrf_token %}
      {{ form|crispy }}
        <div class="mb-3"> 
          <input type="submit" name="action" value="{% trans 'Set Password' %}" class="textinput textInput form-control" required> 
        </div> 
    </form>
  </div>

{% endblock %}

{% endraw %}