{% raw %}{% extends "account/base.html" %}
{% load static %} 

{% block inner %}

              <div class="card-header pb-0 text-left bg-transparent">
                <h3 class="font-weight-bolder text-info text-gradient">Password Reset</h3>
              </div>

              <div class="card-body">

              </div>
              <div class="card-footer text-left pt-0 px-lg-2 px-1">
                <p class="mb-4 text-sm mx-auto">
                    We have sent you an e-mail. Please contact us 
                    <br/> if you do not receive it within a few minutes.
                </p>
              </div>


  {% endblock %}

{% endraw %}