
  #highlight-position {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    box-shadow: 0 2px 25px rgb(0 90 255 / 16%);
    position: absolute;
    top: 0;
    will-change: left, top;
    left: 0;
    border: 2px solid rgb(174 184 255 / 25%);
    pointer-events: none;
    opacity: 0;
}

.confetti {
  position: absolute;
  z-index: 9999;
}

.confetti-item {
  width: 10px;
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
}