{% raw %}
{% extends "base.html" %}
{% load static %}
{% block content %} 


    <!-- CONTENT
    ================================================== -->

    <section class="pt-1 pt-md-3 pb-8 pb-md-14">
      <div class="container">
        <div class="row justify-content-center">

          <div class="col-12 col-md-6 py-8 py-md-11">
            
            <h2 class="font-weight-noraml-bold text-center mb-2">
              Feel free to send a message.
            </h2>
            <p class="font-size-lg text-center text-muted mb-0">
              We look forward to hearing from you. :)
            </p>

            <hr class="hr-sm my-6 my-md-8 border-gray-300">

            <form id='contact_me_form'>
              
              <div class="form-group mb-5">
                <label for="full_name">
                  Full name
                </label>
                <input type="text" class="form-control" id="full_name" placeholder="Full name" required>
                <strong><p class='text-primary'id="error_text_full_name"></p></strong>
              </div>

              <div class="form-group mb-5">
                <label for="email">
                  Email
                </label>
                <input type="email" class="form-control" id="email" placeholder="name@domain.com" required>
                <strong><p class='text-primary'id="error_text_email"></p></strong>
              </div>

            <div class="form-group mb-5 mt-7 " id="div_employment_switch">
              <div class="custom-control custom-switch custom-switch-light">
                <input type="checkbox" class="custom-control-input" id="employment_switch" data-toggle="price" data-target=".price">
                <label class="custom-control-label" for="employment_switch">I'm not spamming you.</label>
              </div>
            </div>

                <div class="row hidden div_employment">
                <div class="col-12">
                  <div class="form-group mb-7 mb-md-9">
                    <label for="message">
                      Holler at us using the form below
                    </label>
                    <textarea class="form-control" id="message" rows="5" placeholder="Hey, {{cookiecutter.project_name}} team! I just wanted to reach out and say ..."></textarea>
                    <strong><p class='text-primary'id="error_text_message"></p></strong>
                  </div>
                </div>
              </div>

              <div class="form-group mb-0  hidden div_employment">
                <button type="button" id="send_message" class="btn btn-block btn-primary lift">
                  Send message
                </button>
              </div>

            </form>

          </div>
        </div> <!-- / .row -->
      </div>
    </section>


      
{% endblock content %}
{% endraw %}
